<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Encurtador de Links</title>
  </head>
  <body>
      <div class="container">
        <h1 class="text-center">Sistema para encurtar LINKS</h1>
        
        <p class="lead">
            Encurtamento de URL é uma técnica utilizada na internet para transformar um endereço HTTP em um link mais curto. 
            Links encurtados são mais agradáveis para a leitura, tornando o texto que contém o link mais limpo e legível.
            Algumas ferramentas de encurtamento de URL permitem acompanhar estatísticas de acessos aos links encurtados, como o bit.ly. Assim, pode-se monitorar a frequência de acessos. Outras permitem personalizar a URL curta, facilitando ainda mais a leitura e o acesso pelo leitor.
        </p>        
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" ></script>

   
  </body>
</html>